@font-face{
    font-family: SSourceHanSerifSC-Heavy;
    src: url(../fonts/SourceHanSerifSC-Heavy.otf)
}

body {
    font-family: 'SourceHanSerifSC-Heavy', Arial, sans-serif;
    /* background:#f9f9f9 url(../img/background.png) */
    background-image: linear-gradient(90deg, rgba(180, 180, 180, 0.15) 10%, rgba(0, 0, 0, 0) 10%),
    linear-gradient(rgba(180, 180, 180, 0.15) 10%, rgba(0, 0, 0, 0) 10%); background-size: 10px 10px;   
}

/* og-expander-inner  {
    color: #fff;
} */