@font-face{
    font-family: FZYanSongM;
    src: url(../fonts/FZYanSongM.ttf)
}

body {
    font-family: Arial, sans-serif;
    /* background:#f9f9f9 url(../img/background.png) */
    background-image: linear-gradient(90deg, rgba(180, 180, 180, 0.15) 50%, rgba(0, 0, 0, 0) 50%),
    linear-gradient(rgba(180, 180, 180, 0.15) 50%, rgba(0, 0, 0, 0) 50%); background-size: 10px 10px;   
}

h1 {
	font-family: "FZYanSongM";
}

/* 展开内部 */

/* .og-details p {
	font-family: Arial, sans-serif;
	font-weight: 200;
	font-size: 16px;
	line-height: 22px;
	color: #999;
} */

#talk {
	position: relative;
	max-width:1000px;
	overflow-x:auto;
	margin:20px auto;
	background-color: #fff;
	border-radius: 20px;
	text-align:center
}
#vcomments {
	position: relative;
	max-width:960px;
	overflow-x:auto;
	margin:10px auto;
	background-color: #fff;
}

.og-expander-inner {
	padding: 50px 0px;
	height: 100%;
}

/* 左图只占30%即可 */
.og-fullimg{
	width: 30%;
}
.og-details h3 {
	color: purple;
}

.og-details p {
	font-weight: 400;
	font-size: 25px;
	line-height: 30px;
	color: #333333;
}